{% extends "personal/main.html" %}

{% block content %}
<h3><p><center> Our Company ...<center></p></h3>


<center><h5><p style="line-height: 200%; margin: 10px 100px 100px 100px; padding: 0px 0px 100px 0px" id="title">The company was created under the promising idea of providing services for people who need them. We offer you the possibility of having your own website giving that we will be prompt to help you whenever you need.
<br><br><br>
	<a href="/login"><button type="button" class="btn btn-primary btn-lg" style="background-color: #ffcc00">Click here if you want to join!</button></p></h5></a></center><br><br><br>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
    <div class="media" style='padding: 0px 0px 50px 20px'>
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src=" static/personal/img/all_in_one_computer_all_in_one.jpg" style='max-height:200px;'alt="MediaObject1">
        </a>
      </div>
      
      <div class="media-body">
        <h4 class="media-heading">Clique aqui para receber noticias</h4>
        <p> Gostaria de dizer que é com muito amor e respeito que eu estou aqui hoje e pretendo estar pelo resto da minha vida obrigado </p>
      </div>
    </div>
   </div>
    
      <div class="col-sm-6">
      <div class="media" style='padding: 0px 50px 50px 10px'>
      <div class="media-left media-middle">
        <a href="/contact">
          <img class="media-object" src="static/personal/img/contact.jpg" style='max-height:200px;'alt="MediaObject2">
        </a>
      </div>
        <div class="media-body">
          <a href="/contact "><h4 class="media-heading">Clique aqui para entrar em contato</h4></a>
          <p> blablalbalblablalbalblablalbalblablalbalblablalbalblablalbal </p>
        </div>
    </div>
  </div>
</div>

</div>

{% endblock %} 